<div ng-if="vm.invenioSearchResults.facets"
     ng-repeat="facet in vm.invenioSearchResults.facets">
    <h4>Filter by {{ facet.printable_name }}</h4>
    <div class="facet-container">
        <ul class="list-unstyled" ng-controller="FacetsShowMoreController">
            <li class="checkbox checkbox-facets"
                ng-repeat="facet_item in facet.vals | limitTo: facetResults">
                <label>
                    <input class="include-facet" type="checkbox"
                           ng-checked="handler[facet.type].indexOf(facet_item.key) > -1"
                           ng-click="handleClick(facet.type, facet_item.key)"/>
                    <span ng-if="facet.type != 'date'"
                          class="facet-title-truncate">{{ facet_item.key | capitalize }}</span>
                    <span ng-if="facet.type == 'date'"
                          class="facet-title-truncate">{{ facet_item.key}}</span>
                          <span class="facet-label label"><span class="facet-count pull-right">{{ facet_item.doc_count }}</span></span>
                </label>
            </li>
            <div ng-show="facet.vals.length > facetResults">
                <a ng-click="moreFacetResults()">Show more</a>
            </div>
        </ul>
    </div>
    <hr ng-if="!$last">
</div>
