<div ng-init="order={'country': 'Country'}">
  <div ng-if="vm.invenioSearchResults.aggregations[key].buckets.length" ng-repeat="(key, title) in order">
    <h4>Filter by {{ title }}</h4>
    <div class="facet-container">
      <ul class="list-unstyled" ng-controller="FacetsShowMoreController">
        <li class="checkbox checkbox-facets" ng-repeat="item in vm.invenioSearchResults.aggregations[key].buckets | limitTo: facetResults">
          <label>
            <input class="include-facet" type="checkbox" ng-checked="handler[key].indexOf(item.key) > -1" ng-click="handleClick(key, item.key)" />
            <span class="facet-title-truncate">{{ item.key | capitalize }}</span>
            <span class="facet-label label"><span class="facet-count pull-right">{{ item.doc_count }}</span></span>
          </label>
        </li>
        <div ng-show="vm.invenioSearchResults.aggregations[key].buckets.length > facetResults">
          <a ng-click="moreFacetResults()">Show {{calculateStep(key)}} more</a>
        </div>
      </ul>
    </div>
    <hr ng-if="!$last">
  </div>
</div>
